---
layout: default
---

<div id="dinsic-page" class="post gray-background page-fille-content-text">
  <div class="object-fit__image-container">
    <img class="object-fit__featured-image image-de-tete" alt="{{ page.une.alternative-textuelle }}" src="{{ base }}{{ page.une.image }}">
  </div>
  <a id="content" tabindex="-1"></a>
  <article>
    <section class="cell white-container padding-large-5 padding-medium-1" >
      {% include components/titre-page-fille.html %}
      <div class="h2 text-center">
        {{ page.subtitle }}
      </div>
      {% if page.content %}
        {{ page.content | markdownify }}
      {% endif %}
    </section>

    <div class="cell grid-x">
      <div id="list" class="cell white-container">
        {% for item in page.list-items %}
        <section id="list{{ item.order }}" class="principe padding-bottom-3 padding-large-horizontal-5 padding-medium-1 padding-large-vertical-2">
          <h4 class="">{{ item.title | markdownify | remove_p }}</h4>
          {{ item.content-text | markdownify }}

          {% if forloop.last == false %}
          <div class="flex-container margin-top-2">
            <i class="fas fa-angle-down icon-arrow-down"></i>
          </div>
          {% endif %}
        </section>
        {% endfor %}
      </div>
    </div>
    {% for fichier in page.files %}
    <div class="text-center margin-top-2 padding-bottom-2 font-bold">
      <a target="_blank" class="blue-link" id="fileSize-{{ fichier.file }}-{{ post.url | replace: ' ', '' }}" href="{{ base }}{{ fichier.file }}"
         onclick="return tag.click.send({elem:this, name:'{{fichier.file}}', type:'téléchargement'});">
        <span class="fas fa-download margin-horizontal-1"></span>
        <span class="pdf">{{ fichier.nom }} (PDF </span>
      </a>
    </div>
    {% endfor %}
  </article>
  {% if page.affiche-fleche %}
  <div class="arrow-container hide-for-medium-only hide-for-small-only" data-sticky-container>
    <div class="sticky" data-sticky data-top-anchor="list-top:top" data-btm-anchor="list-bottom:bottom" data-margin-top="25" data-margin-right="2">
      <div class="cell grid-y" data-smooth-scroll>
        <a class="flex-container" href="#lien-fleche">
          <img alt="Retour aux missions" class="align-middle" src="{{base}}/assets/img/pictogrammes/fleche_haut.svg">
        </a>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<script >
  var tag = new ATInternet.Tracker.Tag();
</script>
