---
layout: default
---

<div id="rgaa">
  <a id="content" tabindex="-1"></a>
  <section class="margin-0 gray-background page-fille" >
    <div class="max-width-75 white-area">
      <div class="grid-x">
        <h1 class="cell text-center padding-vertical-3  blue-gradient-underline font-bold">Référentiel général d'amélioration de l'accessibilité – RGAA Version 4.1</h1>
        <div class="lead chapeau cell large-8 large-offset-2 medium-10 medium-offset-1 small-12 small-offset-0">
          {{ site.data.rgaa-accessibilite.chapeau | markdownify }}
        </div>
        <div class="cell margin-bottom-2">
          {% include components/partager.html %}
        </div>
      </div>
      <div class="grid-x" id="contenu">
        <div class="margin-bottom-3 padding-left-2 cell large-2 small-12 reveal-for-medium sommaire">
          <h2>Sommaire</h2>
          <nav>
            <ul class="vertical menu">
              {% assign items = site.rgaa | sort: 'menu.weight' %}
              {% for item in items %}
              <li class="pl-04 {% if item.menu.title == page.menu.title %} active-link {% endif %}">
                <a href="{{ item.permalink }}#contenu" {% if item.menu.title == page.menu.title %}aria-current="true" title="{{ item.menu.title }}, page active"{% endif %}>{{ item.menu.title }}</a>
                {% if item.menu.title  == 'Méthode technique' %}
                    <ul class="vertical menu">
                    {% assign subItems = site.rgaa-methode | sort: 'menu.weight' %}
                    {% for subItem in subItems %}
                        <li class="pl-04 {% if subItem.menu.title == page.menu.title %} active-link {% endif %}">
                            <a href="{{ subItem.permalink }}#contenu" {% if subItem.menu.title == page.menu.title %}aria-current="true"{% endif %}>{{ subItem.menu.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if item.menu.title  == 'Documentation RGAA' %}
                    <ul class="vertical menu">
                    {% assign subItems = site.rgaa-documentation | sort: 'menu.weight' %}
                    {% for subItem in subItems %}
                        <li class="pl-04 {% if subItem.menu.title == page.menu.title %} active-link {% endif %}">
                            <a href="{{ subItem.permalink }}#contenu" {% if subItem.menu.title == page.menu.title %}aria-current="true" title="{{ subItem.menu.title }}, page active"{% endif %}>{{ subItem.menu.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="margin-bottom-3 large-offset-1 cell large-8 small-12">
          {% if page.menu.title  == 'Accueil' %}
            <h2>{{ page.menu.title }}</h2>
          {% else %}
            <h2>{{ page.menu.title }}</h2>
          {% endif %}
          <div class="page-fille-content-text">
            {{ content | markdownify | smartify }}
          </div>
          {% if page.menu.title  == 'Glossaire' %}
            {% include components/glossaire.html %}
          {% elsif page.menu.title  == 'Critères et tests' %}
            {% include components/criteres.html %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>